main {
  width: 50vw;
  margin: 4rem auto;
}

@media (max-width: 350px) {
  main {
    width: 90vw;
  }
}

pre {
  margin: 1rem 0;
  overflow-x: auto;
  box-shadow: none;
  padding: 1rem;
  border-radius: 5px;
}

main > h1 {
  font-size: calc(2vw + 2rem);
}

main > h1,
main > h2,
main > h3,
main > h4,
main > h5 {
  color: var(--fg);
}

main > * {
  scroll-margin-top: 4rem;
}

main p,
main li {
  line-height: 1.5;
}

main > h2 {
  font-size: calc(1.25vw + 1.25rem);
}

main > h3 {
  font-size: calc(1vw + 1rem);
}

main > h4 {
  font-size: calc(0.8vw + 0.8rem);
}

main > h5 {
  font-size: calc(0.6vw + 0.6rem);
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

main > h6 {
  font-size: calc(0.6vw + 0.6rem);
  margin: 0.5rem 0;
}

aside {
  position: fixed;
  background: var(--bg);
  left: 0;
  top: 4rem;
  padding-left: 3rem;
}

aside ul {
  padding: 0;
  list-style-type: none;
}

aside h2 {
  font-style: italic;
  font-size: 1.2rem;
  color: #3a3839;
  margin: 0.8rem 0;
}

aside h3 {
  margin: 0.6rem 0;
}

aside ul li {
  line-height: 1.25;
  font-size: 0.95rem;
}

aside a {
  text-decoration: none;
  color: #242323;
}

aside a:hover {
  text-decoration: underline;
}

summary:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin: 1.5rem 0;
}

table th {
  font-weight: 500;
}

table th,
table td {
  border: 1px solid var(--fg);
  margin: 0;
  padding: 0.5rem;
}

@media (max-width: 800px) {
  main {
    width: 90vw;
  }

  aside {
    position: static;
    width: 90vw;
    margin: 4rem auto;
    padding: 0;
  }
}

@media (max-width: 500px) {
  nav a:nth-of-type(6) {
    display: none;
  }
}
