main {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  padding: 3rem 0;
  row-gap: 3rem;
  grid-template-columns: 100%;
}

button {
  background: transparent;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: calc(1rem + 0.5vw);
  box-shadow: var(--shadow);
  border: none;
  cursor: pointer;
}

#logo {
  margin-top: 2rem;
  width: calc(150px + 40vw);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header #to_get_started {
  border-color: var(--pink);
  color: var(--bg);
  background: var(--gradient);
  margin-right: 3rem;
}

header #to_docs {
  border-color: var(--fg);
  color: var(--fg);
}

header * {
  text-decoration: none;
}

header p {
  margin: 2rem 0;
  color: var(--fg);
}

#features > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem 5rem;
}

#features > div img {
  place-self: center;
}

#get_started {
  scroll-margin-top: 4rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'install install' '. .';
}

@media (max-width: 1100px) {
  #get_started {
    grid-template-columns: 1fr;
    grid-template-areas: 'install' '.' '.';
  }
}

#get_started #install {
  grid-area: install;
}

#get_started > * {
  padding: 2rem;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

#get_started > pre {
  margin: 0;
  overflow-x: auto;
  padding: calc(1rem + 1vw);
  box-shadow: var(--shadow);
  border-radius: 10px;
}

#get_started #window {
  background-color: white;
}

#get_started #address {
  background-color: #f1f1f1;
  color: #575757;
  display: block;
  padding: 0.5rem 2rem;
  border-radius: 30px;
}

#get_started #content h1 {
  font-size: 3rem;
  margin: 1.5rem 0;
}

#get_started #content h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

#get_started #address input {
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  width: 50%;
}

#features h2 {
  text-align: center;
  font-size: calc(2rem + 2vw);
  color: var(--dark-fg);
}

#features h3 {
  font-size: calc(1rem + 1vw);
  margin-bottom: 0.1rem;
  margin-left: -0.1rem;
  color: var(--dark-fg);
}

#gh {
  padding: 0.8rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
  box-shadow: var(--shadow);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#gh img {
  height: 2rem;
}

#gh span {
  padding: 0.5rem;
  color: black;
}

@media (max-width: 700px) {
  #features > div {
    grid-template-columns: 100%;
    row-gap: 1rem;
  }
}
