main {
  margin: 4rem auto;
  width: 60vw;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mw_preview {
  text-decoration: none;
  color: var(--fg);
}

input {
  border: none;
  width: calc(8rem + 8vw);
  margin-right: 1rem;
}

input,
button {
  font-size: calc(0.5rem + 1vw);
  padding: 10px 20px;
}

button {
  border-style: none;
  background: var(--gradient);
  color: var(--bg);
}

h1 {
  color: var(--fg);
  font-size: calc(3rem + 3vw);
  margin: 1rem 0;
}

#pkgs {
  width: 80%;
  margin: 2rem auto;
}

#pkgs h3 {
  margin: 0;
}

#pkgs a {
  display: block;
  background: rgb(224, 171, 208);
  padding: 1rem;
}