# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  PNPM_CACHE_FOLDER: .pnpm-store

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # - name: setup caching
      #   uses: actions/cache@v2
      #   with:
      #     path: ${{ env.PNPM_CACHE_FOLDER }}
      #     key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
      #     restore-keys: |
      #       ${{ runner.os }}-pnpm-

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: 15.14.0

      - name: install pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.2.2

      # - name: setup pnpm config
      #   run: pnpm config set store-dir $PNPM_CACHE_FOLDER

      - name: install dependencies
        run: pnpm install

      - name: lint code
        run: pnpm lint

      - name: check formatting
        run: pnpm format

      - name: build packages
        run: pnpm build

      - name: run tests
        run: pnpm test

      - name: collect coverage
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
